# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
Proj_env/*
Abacus models/modal analysis/3d shell planner/X_a diffrence/job*
Abacus models/modal analysis/3d shell planner/a diffrence/job*
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
