# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
Proj_env/*
Full wavefield processing by using FCN for delamination/save_model_finals.h5
Abacus models/modal analysis/3d shell planner/X_a diffrence/job*
Abacus models/modal analysis/3d shell planner/a diffrence/job*
Abacus models/Base vibration model/job*
Abacus models/Base vibration model/ABQcaeK*
Abacus models/Mesh study/job*
Abacus models/Base vibration model/main-model.cae
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
